
.view-pane {
    -fx-background-color: #272727;
    -fx-background-radius: 20;
    -fx-padding: 24 10 24 10;
}

.view-pane Label.main-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "urbanist-semibold";
    -fx-font-size: 36px;
    -fx-font-weight: 700;
}

.view-pane Label.section-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "urbanist-semibold";
    -fx-font-size: 24px;
    -fx-font-weight: 700;
}